* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
  color: #fff;
}

a {
  text-decoration: none;
}

body {
  background-color: #000;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
}

header {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.headerContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-inline: 40px;
}

.headerContainer > img {
  width: 50px;
  height: auto;
  cursor: pointer;
}

.navItems {
  width: 30%;
  display: flex;
}

nav {
  flex: 1;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  gap: 10px;
}

ul > li:first-child {
  background-color: #fff;
  padding: 15px 30px;
  border-radius: 20px;
  a {
    color: #000;
    font-size: 1.3rem;
    font-weight: bolder;
  }
}

ul > li {
  padding: 15px 30px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all ease 1s;
}

ul > li > a {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
  font-weight: bolder;
}

ul > li:not(:first-child):hover {
  border: 1px solid #fff;
  border-radius: 10px;
}

.searchContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.searchContainer > input {
  padding: 7px;
  background-color: transparent;
  outline: none;
  border: none;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
}

.searchContainer > button {
  padding: 7px 10px;
  background-color: transparent;
  border-radius: 10px;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all ease 1s;
}

.searchContainer > button:hover {
  background-color: #fff;
  color: #000;
}

main {
  flex: 1;
}

.file-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-inline: 40px;
  margin-top: 30px;
}

.file-list > p {
  color: #fff;
  font-size: 1.2rem;
  font-weight: bolder;
  text-align: center;
  margin-top: 30px;
}

.file-card {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 10px 15px;
  background-color: transparent;
  transition: all 0.3s ease;
}

.file-card:hover {
  background-color: #fff;
  transform: scale(1.05);
}

.file-card:hover h3,
.file-card:hover p {
  color: #000;
}

.fileCard {
  flex: 1;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.fileCard > img {
  width: 50px;
  object-fit: contain;
  transition: filter 0.3s ease;
}

.fileCard:hover img {
  filter: invert(100%);
}

.fileCard > h3 {
  color: #fff;
  font-size: 1.4rem;
  font-weight: bolder;
  transition: color 0.3s ease;
}

.fileCard > p {
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  transition: color 0.3s ease;
}

.file-view-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.operationContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.operationContainer > h2 {
  color: #fff;
  font-size: 1.7rem;
}

.operationContainer > a {
  text-decoration: underline;
  color: #fff;
  font-size: 1.7rem;
}

.file-view-container {
  display: flex;
  margin-inline: 40px;
}

.file-edit-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.file-edit-container > h2 {
  color: #fff;
  font-size: 1.7rem;
}
